# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.nx/self-healing
node_modules
.nx
pnpm-lock.yaml
.agents
.opencode
.github/skills
packages/api-e2e/.spec.swcrc
**/.swcrc
*.swcrc